:root {
    /* change the values below to your colors from your palette */
    --primary-color: #ffbc6a;
    --secondary-color: #333333;
    --terciary-color: #a68358;
    --fourth-color: #f0f1e1;
    --accent1-color: #f07d2e;
    --accent2-color: #1a4039;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    margin: 0;
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0px;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.01rem;
    color: var(--secondary-color);
}

main {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

/** Remove UL and LI icons **/
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

/** Navigation **/
.logo {
    width: 80px;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navigation-menu {
    display: none;
    flex-direction: column;
}

header {
    background-color: var(--secondary-color);
    padding: 10px 5px;
}

.logo-text {
    font-weight: bold;
    color: var(--fourth-color);
}

.active {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Sandwich Menu */
.menu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--fourth-color);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/** Footer **/
footer {
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    text-align: left;
}

footer .logo-container {
    padding: 10px;
}

footer #copyright {
    background-color: var(--accent2-color);
}

footer p {
    color: var(--primary-color);
    font-family: var(--heading-font);
    padding: 0px 10px;
}

footer ul {
    list-style-type: none;
    padding: 0px 10px;
}

footer a {
    color: var(--fourth-color);
}

/* PARKS */

.park-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.park-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}


/*Form design */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--fourth-color);
    border-radius: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin: 10px 0;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

button {
    background-color: var(--accent2-color);
    color: var(--fourth-color);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

/** HOMEPAGE **/
.hero-banner {
    background-image: url('../images/hero-banner.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--fourth-color);
    text-align: center;
    padding: 100px 20px;
}

.hero-banner h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--fourth-color);
}

.explore-button {
    border-color: white;
    border: 1px solid white;
    color: var(--fourth-color);
    padding: 12px 24px;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

.explore-button:hover {
    background-color: var(--accent1-color);
    border: 1px solid var(--accent1-color);
}

.homepage-header {
    position: fixed;
    background-color: transparent;
    width: 100%;
}

.navigation-link a {
    color: var(--fourth-color);
}

.navigation-link a.active {
    color: var(--primary-color);
    text-decoration: underline;
}

/** When scrolling change header color **/
.homepage-header.scrolled {
    background-color: var(--secondary-color);
}

/* This is the new class that will be added by JavaScript */
.scrolled {
    background-color: var(--secondary-color);
}