@media only screen and (min-width: 420px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    .navigation-menu {
        display: flex;
        justify-content: space-between;
    }

    .navigation-menu ul {
        display: flex;
    }

    .navigation-link {
        margin: 0 10px;
    }

    .menu {
        display: none; /* Hide the sandwich menu on larger screens */
    }

    /*Footer*/

    .footer-container {
        display: flex;
        justify-content: space-evenly;
    }

    .plan-structure {
        max-width: 600px;
        margin: 80px auto;
    }
}