@media only screen and (min-width: 600px) {
    #menu-icon {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    nav {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu a {
        margin: 0 10px;
        color: #ffffff;
        text-decoration: none;
    }
}